@font-face {
  font-family: 'Montserrat'; /*a name to be used later*/;
  src: url("../../../assets/fonts/Montserrat-Medium.woff2"),
  url("../../../assets/fonts/Montserrat-Medium.woff");
  font-display: swap;
}

.linkText {
  background-color: white;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
}
